@font-face {
    font-family: 'Inter Italic', sans-serif;
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBoldItalic.woff2') format('woff2');
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    @extend %font-primary;
  
    color: $color-text-dark;
    background-color: $color-bg-body;
    @include media-tablet {
        position: fixed;
        overflow: hidden;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    
    margin: -1px;
}

img {
    max-width: 100%;
}