@font-face {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
    src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    @extend %font-primary;
    font-weight: 600;
    color: $color-text-dark;
    background-color: $color-bg-body;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    
    margin: -1px;
}