.about__wrapper {
    padding-bottom: 100px;
}

.about__title {
    margin: 0;
    @extend %heading-2;
    margin-bottom: 40px;
}

.about__title-accent {
    @extend %heading-2-accent;
    color: $color-text-accent;
}

.about__images {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    overflow: hidden;
    &--large {
        width: 660px;
        height: 590px;
        @include media-tablet {
            width: 100%;
        }
    }

    &--little {
        width: 660px;
        height: 430px;
        @include media-tablet {
            display: none;
        }
    }
}

.about__image {
    transform: scale(1.1);
    transition: transform .5s;
    &:hover {
        transform: scale(1);
    }
    @include media-mobile {
        transform: scale(2.1);
    }
}