.contact-us__title {
    color: $color-text-light;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 33px;
    @extend %heading-3;
    @include media-tablet {
        margin-top: 0;
    }
}

.contact-us__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-us__link {
    position: relative;
    display: inline-flex;
    gap: 9px;
    
    @extend %link-btn-action;
    color: $color-text-light;
    text-decoration: none;
    &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: $color-text-light;

        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
    }
    @include hover-desktop {
        &:hover::before {
            transform: scaleX(1);      
        }
    }
}

.contact-us__item:not(:last-child) {
    margin-bottom: 16px;
}
