.favorite-coffee {
    position: relative;
    padding: 100px;
}

.favorite-coffee__title {
    text-align: center;
    @extend %heading-2;
    margin: 0;
}

.favorite-coffee__title-accent {
    @extend %font-accent;
    @extend %heading-2-accent;
    color: $color-text-accent;
}

.favorite-coffee__slider {
    padding-top: 40px;
    padding-bottom: 40px;
}