.header__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 16px;
}

.header__burger {
    display: none;
    cursor: pointer;

    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;

    border-radius: 100px;
    border: 1px solid $color-border-dark;
    background-color: transparent;
    @include media-tablet {
        display: flex;
    }

    transition: 0.3s all ease-in-out;
}

.header__burger-line {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: $color-text-dark;
}

.header__burger-line--active:first-child {
    transform: translateY(4.5px) skewY(-45deg);
}

.header__burger-line--active:last-child {
    transform: translateY(-4.5px) skewY(45deg);
}

.header__burger--active {
    transform: rotate(180deg);
}