.menu {
    padding-bottom: 40px;
}

.menu__title {
    margin: 0 auto;
    margin-bottom: 40px;

    width: 800px;
    text-align: center;
    @extend %heading-1;
    font-size: 60px;
    line-height: 125%;
}

.menu__title-accent {
    @extend %heading-1-accent;
    color: $color-text-accent;
}

.menu__tabs {
    margin-bottom: 40px;
}

.menu__products {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: 40px;
}