.offer__container {
    background-image: url(../../assets/images/img-hero.jpg);
    border-radius: 40px;

    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.offer__content {
    width: 530px;
}

.offer__title {
    margin: 0;
    color: $color-text-light;
    @extend %heading-1;
    margin-bottom: 40px;
}

.offer__title-accent {
    color: $color-text-accent;
    @extend %font-accent;
    @extend %heading-1-accent;
}

.offer__description {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 150%;
    color: $color-text-light;
}

.offer__link {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    width: 200px;
    padding: 20px;
    border-radius: 100px;
    background-color: $color-bg-body;
    color: $color-text-dark;
    text-decoration: none;
    box-sizing: border-box;

    img {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    span {
        margin-right: -28px;
        transition: margin-right 0.3s ease-in-out;
    }

    &:hover img {
        opacity: 1;
    }

    &:hover span {
        margin-right: 0;
    }
}