.menu-card {
    width: 310px;
    border-radius: 40px;

    list-style: none;
    text-decoration: none;
    color: $color-text-dark;
    border: 1px solid $color-border-light;

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        height: 155px;
    }

   @include hover-desktop {
    &:hover img {
        transform: scale(1);
        
    }
   }

    @include media-tablet {
        &:nth-child(n+5) {
        display: none;
        }
    }
}

.menu-card__title, .menu-card__price {
    @extend %heading-3;
   
    margin: 0;
}

.menu-card__title {
    margin-bottom: 12px;
}

.menu-card__description {
    font-weight: 400;
    line-height: 150%;

    margin: 0;
    margin-bottom: auto;
}

.menu-card__image {
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.menu-card__image img {
    width: 100%;
    height: 306px;

    transform: scale(1.1);
    transition: transform 0.5s;
}