.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .pagination__item {
    cursor: pointer;
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: $color-border-light;
    flex-shrink: 0;
    position: relative;
  }
  
  .pagination__item.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    background-color: $color-border-dark;
    animation: progressAnimation 5s linear forwards;
  }
  
  @keyframes progressAnimation {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  .pagination__item.active {
    background-color: $color-border-light;
  }