.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pagination__item {
    cursor: pointer;

    width: 40px;
    height: 4px;
    border-radius: 100px;

    opacity: 0.5;

    background-color: $color-border-light;
    flex-shrink: 0;
    &--active {
        background-color: $color-border-dark;
    }
}