.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width: 766px) {
        justify-content: center;
    }
}

.slider__btn {
    background: none;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;

    border-radius: 100px;
    border: 1px solid $color-border-dark;
    transition: all 0.3s ease 0s;
    @media (max-width: 766px) {
        display: none;
    }
}

.slider__btn--left {
    background: url(../../assets/images/arrow-right.svg) 50% 50% no-repeat;

    transform: rotate(180deg);

    &:hover {
        background: url(../../assets/images/arrow-right-light.svg) 50% 50% no-repeat;

        background-color: $color-border-dark;
        color: $color-text-light;
    }
}

.slider__btn--right {
    background: url(../../assets/images/arrow-right.svg) 50% 50% no-repeat;
    &:hover {
        background: url(../../assets/images/arrow-right-light.svg) 50% 50% no-repeat;
        background-color: $color-border-dark;
        color: $color-text-light;
        
    }
}

