.tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}

.tabs__item {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 8px 16px 8px 8px;
    border-radius: 100px;

    &--active, &:hover {
        background-color: $color-bg-container;
        color: $color-text-light;
        border: 1px solid $color-border-dark;
    }

    &:hover {
        transition: all 1s;
        background-color: $color-bg-container;
        color: $color-text-light;
        border: 1px solid $color-border-dark;
    }

    background-color: transparent;
    color: $color-text-dark;
    border: 1px solid $color-border-light;
}

.tabs__icon {
    width: 31px;
    height: 30px;
}