@mixin font ($size, $weight: 600, $line-heigth: normal, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-heigth;
    font-style: $style;
}

@mixin media-tablet {
    @media (max-width: $content-width-tablet) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $content-width-mobile) {
        @content;
    }
}

@mixin hover-desktop {
    @media (hover:hover) {
        @content;
    }
}