%font-primary {
    font-family: 'Inter', sans-serif;
}

%font-accent {
    font-family: 'Inter Italic', sans-serif;
}

%heading-1 {
    @include font(72px, 600, 105%);

    @include media-mobile {
        font-size: 42px;
        line-height: 115%;
    }
}

%heading-1-accent {
    font-style: italic;
}

%heading-2 {
    @include font(60px, 600, 125%);

    @include media-mobile {
        font-size: 32px;
    }

}

%heading-2-accent {
    font-style: italic;
}

%heading-3 {
    @include font(24px, 600, 125%);
}

%medium-body {
    @include font(16px, 400, 150%);
}

%caption-body {
    @include font(10px, 600, 140%);
}

%link-btn-action {
    @include font(16px, 600, 150%);
}

%burger-link {
    @include font(32px, 600, 125%);
}